<div class="row">
        <div class="d-flex justify-content-center">
           <p class="powered-by footer-element mt-3">

           	<a href="https://vinodvani.com/categories.html">Categories</a> |
            <a href="https://vinodvani.com/categories.html#life-stories">Life Stories</a> 
     
<!--    <a href="https://vinodvani.com/categories.html" target="_blank">Categories</a> |
   <a href="https://vinodvani.com/categories.html#life-stories" target="_blank">Life Stories</a> -->
  		   </p>

        </div>
</div>